########################################################################################################################
# Happy Hare MMU Software
#
# EDIT THIS FILE BASED ON YOUR SETUP
#
# Copyright (C) 2022-2025  moggieuk#6538 (discord)
#                          moggieuk@hotmail.com
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Goal: Happy Hare MMU hardware pin config
#
# (\_/)
# ( *,*)
# (")_(") Happy Hare Ready
#
#
# This contains aliases for pins for MCU type unknown
#
[mcu mmu]
serial: /dev/serial/by-path/platform-xhci-hcd.0-usb-0:1:1.0-port0
restart_method: command


# PIN ALIASES FOR MMU MCU BOARD ----------------------------------------------------------------------------------------
# ██████╗ ██╗███╗   ██╗     █████╗ ██╗     ██╗ █████╗ ███████╗
# ██╔══██╗██║████╗  ██║    ██╔══██╗██║     ██║██╔══██╗██╔════╝
# ██████╔╝██║██╔██╗ ██║    ███████║██║     ██║███████║███████╗
# ██╔═══╝ ██║██║╚██╗██║    ██╔══██║██║     ██║██╔══██║╚════██║
# ██║     ██║██║ ╚████║    ██║  ██║███████╗██║██║  ██║███████║
# ╚═╝     ╚═╝╚═╝  ╚═══╝    ╚═╝  ╚═╝╚══════╝╚═╝╚═╝  ╚═╝╚══════╝
# Section to create alias for pins used by MMU for easier integration into Klippain and RatOS. The names match those
# referenced in the mmu_hardware.cfg file. If you get into difficulty you can also comment out this aliases definition
# completely and configure the pin names directly into mmu_hardware.cfg. However, use of aliases is encouraged.

# Note: that aliases are not created for TOOLHEAD_SENSOR, EXTRUDER_SENSOR or SYNC_FEEDBACK_SENSORS because those are
# most likely on the printer's main mcu. These should be set directly in mmu_hardware.cfg
#
[board_pins mmu]
mcu: mmu # Assumes using an external / extra mcu dedicated to MMU
aliases:
    MMU_GEAR_STEP=PC2,   # X-stepper
    MMU_GEAR_DIR=PB9,
    MMU_GEAR_ENABLE=PC3,

    MMU_GEAR_STEP_1=PB8, # Y-stepper
    MMU_GEAR_DIR_1=PB7,
#    MMU_GEAR_ENABLE_1=PC3, # Common enable for all steppers

    #MMU_GEAR_STEP_2=PB6, # Z-stepper
    #MMU_GEAR_DIR_2=PB5,
#    MMU_GEAR_ENABLE_2=PC3,

    #MMU_GEAR_STEP_3=PB4, # E-stepper
    #MMU_GEAR_DIR_3=PB3,
#    MMU_GEAR_ENABLE_3=PC3,

    MMU_GATE_SENSOR=PA4, # Runout-sensor

    MMU_PRE_GATE_0=PA5,  # X-endstop
    MMU_PRE_GATE_1=PA7,  # Z-endstop
    #MMU_PRE_GATE_2=PB0,  # Probe-servo

    MMU_POST_GEAR_0=PA6, # Y-endstop
    MMU_POST_GEAR_1=PC4, # Bed-temp
    #MMU_POST_GEAR_2=PB1  # Probe-endstop
