#####################################################################
#      Mellow Fly SHT36v3 Configuration
#####################################################################
[mcu SHT36]
#canbus_uuid: 270a34f9f254
canbus_uuid: bdcba9d5a55b

[temperature_sensor SHT36_Temp]
sensor_type: temperature_mcu
sensor_mcu: SHT36

[lis2dw]
cs_pin: SHT36:gpio12
spi_bus: spi0_gpio4_gpio3_gpio2
axes_map: y, x, z

[resonance_tester]
accel_chip: lis2dw

#[neopixel sb_leds]
#pin: SHT36:gpio26

[extruder]
enable_pin: !SHT36:gpio14
step_pin: SHT36:gpio7
dir_pin: SHT36:gpio6
heater_pin: SHT36:gpio23
sensor_pin: SHT36:gpio27

[tmc2209 extruder]
uart_pin: SHT36:gpio15
sense_resistor: 0.110

[fan]
pin: SHT36:gpio21

[heater_fan hotend_cooling_fan]
pin: SHT36:gpio13

[stepper_x]
endstop_pin: SHT36:gpio16

[probe_eddy_current fly_eddy_probe]
sensor_type: ldc1612
frequency: 40000000
i2c_address: 43
i2c_mcu: SHT36
i2c_bus: i2c1e
i2c_speed: 4000000

[temperature_probe fly_eddy_probe]
sensor_type: Generic 3950
sensor_pin: SHT36:gpio28
calibration_position: 85, 90, 1
calibration_bed_temp: 100
calibration_extruder_temp: 160
extruder_heating_z: 30
max_validation_temp: 110

#[bltouch]
#sensor_pin: ^SHT36:gpio22
#control_pin: SHT36:gpio24

[filament_switch_sensor runout]
switch_pin: ^SHT36:gpio20
