#####################################################################
#      Mellow Fly SHT36v3 Configuration
#####################################################################
[mcu SHT36]
#canbus_uuid: 270a34f9f254
canbus_uuid: bdcba9d5a55b

[temperature_sensor SHT36_Temp]
sensor_type: temperature_mcu
sensor_mcu: SHT36

[lis2dw]
cs_pin: SHT36:gpio12
spi_bus: spi0_gpio4_gpio3_gpio2
axes_map: z, x, y

[resonance_tester]
accel_chip: lis2dw

#[neopixel sb_leds]
#pin: SHT36:gpio26

[extruder]
enable_pin: !SHT36:gpio14
step_pin: SHT36:gpio7
dir_pin: SHT36:gpio6
heater_pin: SHT36:gpio23
sensor_pin: SHT36:gpio27

[tmc2209 extruder]
uart_pin: SHT36:gpio15
sense_resistor: 0.110

[fan]
pin: SHT36:gpio21

[heater_fan hotend_cooling_fan]
pin: SHT36:gpio13

[stepper_x]
endstop_pin: SHT36:gpio16

[probe_eddy_current fly_eddy_probe]
sensor_type: ldc1612
#   The sensor chip used to perform eddy current measurements. This
#   parameter must be provided and must be set to ldc1612.
#frequency:
#   The external crystal frequency (in Hz) of the LDC1612 chip.
#   The default is 12000000.
#intb_pin:
#   MCU gpio pin connected to the ldc1612 sensor's INTB pin (if
#   available). The default is to not use the INTB pin.
#max_sensor_hz:
#   Maximum expected resonant frequency reported by the sensor (in
#   Hz). This is used during internal clock rate configuration. This
#   value is typically only configured if the software reports a
#   warning suggesting the value should be increased. The default is
#   5000000.
#descend_z:
#   The nominal distance (in mm) between the nozzle and bed that a
#   probing attempt should stop at. This parameter must be provided.
i2c_address: 43
i2c_mcu: SHT36
i2c_bus: i2c1e
#i2c_software_scl_pin:
#i2c_software_sda_pin:
i2c_speed: 4000000
#   The i2c settings for the sensor chip. See the "common I2C
#   settings" section for a description of the above parameters.
#x_offset:
#y_offset:
#   The distance (in mm) between the probe and the nozzle along the
#   x and y axes. The default is 0.
#speed:
#lift_speed:
#samples:
#sample_retract_dist:
#samples_result:
#samples_tolerance:
#samples_tolerance_retries:
#   See the "probe" section for information on these parameters. Note
#   that the settings here apply only to regular probe commands. These
#   settings do not have an effect if using a probe "METHOD" of
#   "scan", "rapid_scan", or "tap".
#tap_threshold:
#   Descent stop threshold (in Hz/mm) for "tap" probing. Larger values
#   reduce the chance of the toolhead incorrectly stopping early due
#   to noise, while increasing the risk of the toolhead not correctly
#   stopping when it first contacts the bed. See Eddy_Probe.md for
#   more information. This value may be overridden at run-time using
#   the "TAP_THRESHOLD" parameter on probe commands.  The default is
#   to not enable "tap" probing.
#tap_z_offset: 0.0
#   The Z height (in mm) of the nozzle relative to the bed at the
#   contact point detected during "tap" probing. Nominally this would
#   be 0.0 to indicate the contact point has zero distance, but one
#   may set this to account for backlash, thermal expansion, a
#   systemic probing bias, or similar. The default is zero.

#[probe_eddy_ng fly_eddy]
#sensor_type: mellow_fly
#i2c_address: 43
#i2c_mcu: SHT36
#i2c_bus: i2c1e
#i2c_speed: 4000000

[temperature_sensor fly_eddy_probe]
sensor_type: Generic 3950
sensor_pin: SHT36:gpio28

#[bltouch]
#sensor_pin: ^SHT36:gpio22
#control_pin: SHT36:gpio24

[filament_switch_sensor runout]
switch_pin: ^SHT36:gpio20
