# This file contains configuration for a Voron Trident 170 running on a
# Fysetc Spider V3.0 H7, and it uses a Mellow Fly SHT36 Eddy V3
# for the toolhead PCB running over CAN. A/B stepper drivers and TMC2240
# SPI, # and other stepper drivers are TMC2209 UART.

# A Creality V4.2.2 board is used for Happy Hare filament changing.

# See docs/Config_Reference.md for a description of parameters.

#[include mmu/base/*.cfg]
#[include mmu/optional/client_macros.cfg]
#[include mmu/optional/mmu_menu.cfg]

[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : True
variable_custom_park_x    : 85.0
variable_custom_park_y    : 0.0
variable_custom_park_dz   : 10.0
variable_park_at_cancel   : True
gcode:

[include mainsail.cfg]

[mcu]
canbus_uuid: 5fa18a5c2751

[temperature_sensor spider_temp]
sensor_type: temperature_mcu
sensor_mcu: mcu

[temperature_sensor pi_temp]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[include mcu_sht36_v3.cfg]

#[include mcu_creality_v4.2.2.cfg]

[virtual_sdcard]
path: /home/klipper/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[exclude_object]

[force_move]
enable_force_move: True

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 7500
max_z_velocity: 25
max_z_accel: 350
square_corner_velocity: 5.0

[resonance_tester]
probe_points: 85, 90, 40

[input_shaper]
shaper_type_X: mzv
shaper_freq_x: 70.6
shaper_type_Y: mzv
shaper_freq_y: 50.4

[shaketune]
result_folder: ~/printer_data/config/ShakeTune_results
number_of_results_to_keep: 10
keep_raw_data: False
show_macros_in_webui: True
timeout: 600
measurements_chunk_size: 4
max_freq: 200
dpi: 300

[stepper_x]
enable_pin: !M0_EN_PIN
step_pin: M0_STEP_PIN
dir_pin: !M0_DIR_PIN
microsteps: 32
rotation_distance: 40
# endstop_pin: configuration in sht36_v3.cfg
position_min: 0
position_max: 170
position_endstop: 170
homing_speed: 50

[tmc2240 stepper_x]
cs_pin: M0_CS_PIN
spi_software_sclk_pin: TMC_SCLK_PIN
spi_software_miso_pin: TMC_MISO_PIN
spi_software_mosi_pin: TMC_MOSI_PIN
interpolate: True
run_current: 0.8

[autotune_tmc stepper_x]
motor: usongshine-17hs4401S

[stepper_y]
enable_pin: !M1_EN_PIN
step_pin: M1_STEP_PIN
dir_pin: !M1_DIR_PIN
microsteps: 32
rotation_distance: 40
endstop_pin: ^Y_MIN_ENDSTOP_PIN
position_min: 0
position_max: 180
position_endstop: 180
homing_speed: 50

[tmc2240 stepper_y]
cs_pin: M1_CS_PIN
spi_software_sclk_pin: TMC_SCLK_PIN
spi_software_miso_pin: TMC_MISO_PIN
spi_software_mosi_pin: TMC_MOSI_PIN
interpolate: True
run_current: 0.8

[autotune_tmc stepper_y]
motor: usongshine-17hs4401S

[stepper_z]
enable_pin: !M2_EN_PIN
step_pin: M2_STEP_PIN
dir_pin: M2_DIR_PIN
microsteps: 32
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -10.0
position_max: 170

[tmc2209 stepper_z]
uart_pin: M2_UART_PIN
interpolate: True
run_current: 0.5

[autotune_tmc stepper_z]
motor: creality-42-34

[stepper_z1]
enable_pin: !M3_EN_PIN
step_pin: M3_STEP_PIN
dir_pin: M3_DIR_PIN
microsteps: 32
rotation_distance: 8

[tmc2209 stepper_z1]
uart_pin: M3_UART_PIN
interpolate: True
run_current: 0.5

[autotune_tmc stepper_z1]
motor: creality-42-34

[stepper_z2]
enable_pin: !M4_EN_PIN
step_pin: M4_STEP_PIN
dir_pin: M4_DIR_PIN
microsteps: 32
rotation_distance: 8

[tmc2209 stepper_z2]
uart_pin: M4_UART_PIN
interpolate: True
run_current: 0.5

[autotune_tmc stepper_z2]
motor: creality-42-34

[extruder]
#enable_pin: configuration in sht36_v3.cfg
#step_pin: configuration in sht36_v3.cfg
#dir_pin: configuration in sht36_v3.cfg
microsteps: 32
gear_ratio: 50:10
rotation_distance: 22.7868
max_extrude_only_distance: 200.0
max_extrude_cross_section: 4.0
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.03
#heater_pin: configuration in sht36_v3.cfg
#sensor_pin: configuration in sht36_v3.cfg
sensor_type: ATC Semitec 104GT-2
pullup_resistor: 4700
min_temp: -100
max_temp: 310
min_extrude_temp: 120
control: pid
# Tuned for Triangle-Lab CHC TD6S hotend at 250C target
pid_Kp: 25.958
pid_Ki: 2.036
pid_Kd: 82.742

[tmc2209 extruder]
#uart_pin: configuration in sht36_v3.cfg
interpolate: True
run_current: 0.5

[autotune_tmc extruder]
motor: flsun-v400-36

[heater_bed]
heater_pin: BED_EN_PIN
sensor_pin: BED_TEMP_PIN
sensor_type: EPCOS 100K B57560G104F # Ender-3 bed
min_temp: -100
max_temp: 115
control: pid
# Tuned for 235x235 Ender-3 bed at 60C target
pid_Kp: 68.864
pid_Ki: 0.952
pid_Kd: 1244.714

[fan]
#pin: configuration in sht36_v3.cfg
cycle_time: 0.100

[heater_fan hotend_cooling_fan]
#pin: configuration in sht36_v3.cfg
heater: extruder
heater_temp: 45.0

#[heater_fan nevermore_fan]
#pin: HE2_EN_PIN
#heater: heater_bed
#heater_temp: 70

#[controller_fan driver_cooling_fan]
#pin: FAN2_EN_PIN
#kick_start_time: 0.5
#fan_speed: 0.6
#idle_timeout: 15
#stepper: stepper_x, stepper_y, stepper_z, stepper_z1, stepper_z2, extruder

#[fan_generic electronics_bay_fan]
#pin: FAN3_EN_PIN

#[delayed_gcode turnOnFan]
#initial_duration: 1
#gcode:
#    SET_FAN_SPEED FAN=electronics_bay_fan SPEED=0.3

#[temperature_sensor chamber]
#sensor_pin: H1_TEMP_PIN
#sensor_type: Generic 3950
#min_temp: 0
#max_temp: 80

[probe_eddy_current fly_eddy_probe]
sensor_type: ldc1612
descend_z: 0.5
#i2c_address: configuration in sht36_v3.cfg
#i2c_mcu: configuration in sht36_v3.cfg
#i2c_bus: configuration in sht36_v3.cfg
#i2c_speed: configuration in sht36_v3.cfg
x_offset: 0
y_offset: 21.0
#tap_z_offset: 0.0

#[bltouch]
#sensor_pin: configuration in sht36_v3.cfg
#control_pin: configuration in sht36_v3.cfg
#pin_move_time: 0.2
#x_offset: -35.5
#y_offset: 12.5
#z_offset: 3.15
#speed: 2
#lift_speed: 10
#pin_up_reports_not_triggered: False
#pin_up_touch_mode_reports_triggered: False
#probe_with_touch_mode: True

[safe_z_home]
home_xy_position: 85, 69    # Place probe at the center of your print bed
speed: 300
z_hop: 4.5                  # Lift 4.5mm after homing Z
z_hop_speed: 10
move_to_previous: False

[z_tilt]
z_positions:
   -50, 18
   85, 228
   220, 18
points:
   30, 9
   85, 129
   140, 9
speed: 300
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.02

[gcode_macro Z_TILT_ADJUST]
rename_existing: _Z_TILT_ADJUST
gcode:
    SAVE_GCODE_STATE NAME=STATE_Z_TILT
    BED_MESH_CLEAR
    {% if not printer.z_tilt.applied %}
    _Z_TILT_ADJUST horizontal_move_z=10 retry_tolerance=1
    {% endif %}
    _Z_TILT_ADJUST horizontal_move_z=3
    RESTORE_GCODE_STATE NAME=STATE_Z_TILT

[bed_mesh]
speed: 50
horizontal_move_z: 2.5
mesh_min: 30, 30
mesh_max: 140, 150
zero_reference_position: 85, 69
probe_count: 7, 7
mesh_pps: 2, 2
adaptive_margin: 5
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic

[gcode_arcs]
resolution: 0.5

[gcode_macro G29]
description: Loads previously stored levelling mesh
gcode:
    BED_MESH_PROFILE LOAD=default

[gcode_macro G32]
description: Perform full home including Z tilt calibration
gcode:
    G28
    Z_TILT_ADJUST
    G28 Z

[gcode_macro TAP_TO_ADJUST_Z_OFFSET]
gcode:
    {% set Z = printer.toolhead.position.z %}
    {% set OFFSET = printer.probe.last_probe_position.z %}
    G28 Z
    PROBE METHOD=TAP
    SET_KINEMATIC_POSITION Z={Z - printer.probe.last_probe_position.z}
    #SET_GCODE_OFFSET Z={-(printer.probe.last_probe_position.z)}
	#M117 "Set offset to: {-(printer.probe.last_probe_position.z)}"

[gcode_macro START_PRINT]
variable_probe_temp: 150
variable_heating_pos_x: 65
variable_heating_pos_y: 1
variable_heating_pos_z: 1.2
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(195)|float %}
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set and wait for nozzle to reach probing temperature
    M109 S{probe_temp}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Fully home the printer
    G32
    # Use a tap to find the probe offset
    TAP_TO_ADJUST_Z_OFFSET
    # Perform adaptive bed mesh calibration
    BED_MESH_CALIBRATE METHOD=scan ADAPTIVE=1
    # Use absolute coordinates
    G90
    # Move the nozzle near the bed
    G1 X{heating_pos_x} Y{heating_pos_y} Z{heating_pos_z} F30000
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}

[gcode_macro INITIAL_PURGE_LINE]
variable_purge_pos_x1: 35
variable_purge_pos_x2: 135
variable_purge_pos_y: 0
variable_purgepos_z: 0.6
variable_purge_extrude: 25
gcode:
    # Nozzle purge line
    G92 E0                        # Reset Extruder
    G1 X{purge_pos_x1} Y{purge_pos_y} Z{purgepos_z} F30000                 # Move to start position
    G1 X{purge_pos_x2} Y{purge_pos_y} Z{purgepos_z} F1500 E{purge_extrude} # Draw the line
    G91                           # Relative positioning
    G1 E-0.7 F2700                # Retract 0.7mm to stop ooze
    G1 Z2 F2400                   # Raise Z Axis up
    G90                           # Absolute positioning
    G92 E0                        # Reset Extruder

[gcode_macro END_PRINT]
variable_custom_finish_dz: 20
gcode:
    {% set custom_finish_x  = printer.toolhead.axis_maximum.x|default(170.0) %}
    {% set custom_finish_y  = printer.toolhead.axis_maximum.y|default(180.0) %}
    # Wipe nozzle while retracting
    G91
    G1 X-1 Y-1 E-2 F300
    # Raise nozzle
    G1 Z{custom_finish_dz} F3000
    G90
    # Present finished print
    G1 X{custom_finish_x} Y{custom_finish_y}
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Disable steppers, except Z
    M84 X Y E

[pause_resume]

[filament_switch_sensor runout]
pause_on_runout: True
runout_gcode:
    UNLOAD_FILAMENT
    M117 Load Filemant
#insert_gcode:
#    M117 Loading Filament
#    LOAD_FILAMENT
event_delay: 0.5
pause_delay: 0.5
#switch_pin: configuration in sht36_v3.cfg

[gcode_macro UNLOAD_FILAMENT]
description: Unloads the filament for a filament change
variable_ram_length: 5
variable_ram_speed: 5
variable_retract_length: 50
variable_retract_speed: 45
variable_unload_speed: 30
gcode:
    {% set UNLOAD_LENGTH = params.UNLOAD_LENGTH|default(150)|float %}
    G91
    # Ram to form point on tip
    G1 E{ram_length} F{ram_speed * 60}
    G1 E-{retract_length} F{retract_speed * 60}
    # Unload filament from bowden tube
    G1 E-{UNLOAD_LENGTH - retract_length} F{unload_speed * 60}

[gcode_macro LOAD_FILAMENT]
description: Loads and purges filament when a new spool has been loaded
variable_load_speed: 30
variable_purge_speed: 5
gcode:
    {% set LOAD_LENGTH = params.LOAD_LENGTH|default(50)|float %}
    {% set PURGE_LENGTH = params.PURGE_LENGTH|default(100)|float %}
    G91
    # Load filament through bowden tube quickly
    G1 E{LOAD_LENGTH} F{load_speed * 60}
    # Purge nozzle before resuming
    G1 E{PURGE_LENGTH} F{purge_speed * 60}

[gcode_macro M600]
gcode:
    PAUSE
    M117 Swap Filemant

#[neopixel sb_leds]
#pin: NEOPIXEL_PIN
#   The pin connected to the neopixel. This parameter must be provided.
#chain_count: 10
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
#color_order: BGR, BGR, BGR, BGR, BGR, BGR, BGR, BGR, WBGR, WBGR
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
#initial_RED: 0.0
#initial_GREEN: 0.0
#initial_BLUE: 1.0
#initial_WHITE: 1.0
#   Sets the initial LED color of the Neopixel. Each value should be
#   between 0.0 and 1.0. The WHITE option is only available on RGBW
#   LEDs. The default for each color is 0.
#

##	Example to set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
#  SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0
#  SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=1 INDEX=2 TRANSMIT=0
#  SET_LED LED=mini12864 RED=0 GREEN=1 BLUE=1 INDEX=3

# Ender3 Display
#[display]
#lcd_type: st7920
#cs_pin: mmu:PB12
#sclk_pin: mmu:PB13
#sid_pin: mmu:PB15
#encoder_pins: ^mmu:PB14, ^mmu:PB10
#click_pin: ^!mmu:PB2

#[display]
#lcd_type: st7920
#cs_pin: EXP1_4
#sclk_pin: EXP1_5
#sid_pin: EXP1_3
#encoder_pins: ^EXP1_6, ^EXP1_8
#click_pin: ^!EXP1_9

# Fysetc Spider V3.0 H7
[board_pins spider_aliases]
mcu: mcu
aliases:
    # Heater MOSFETS
    HEAT1_EN_PIN=PC8, HEAT2_EN_PIN=PB3,
    BED_EN_PIN=PB4,
    # Controller Fans
    FAN0_EN_PIN=PA13, FAN1_EN_PIN=PA14, FAN2_EN_PIN=PB2,
    FAN3_EN_PIN=PB5,  FAN4_EN_PIN=PB6,  FAN5_EN_PIN=PB7,
    # TEMP
    T0_TEMP_PIN=PC0, T1_TEMP_PIN=PC1, T2_TEMP_PIN=PC2,
    T3_TEMP_PIN=PC3, T4_TEMP_PIN=PB1, BED_TEMP_PIN=PB0,
    # Steppers
    M0_EN_PIN=PE9,  M0_STEP_PIN=PE11, M0_DIR_PIN=PE10,
    M1_EN_PIN=PD9,  M1_STEP_PIN=PD8,  M1_DIR_PIN=PB12,
    M2_EN_PIN=PD15, M2_STEP_PIN=PD14, M2_DIR_PIN=PD13,
    M3_EN_PIN=PD4,  M3_STEP_PIN=PD5,  M3_DIR_PIN=PD6,
    M4_EN_PIN=PE5,  M4_STEP_PIN=PE6,  M4_DIR_PIN=PC13,
    M5_EN_PIN=PE3,  M5_STEP_PIN=PE2,  M5_DIR_PIN=PE4,
    M6_EN_PIN=PE8,  M6_STEP_PIN=PD12, M6_DIR_PIN=PC4,
    M7_EN_PIN=PC5,  M7_STEP_PIN=PE1,  M7_DIR_PIN=PE0,
    # TMC Control
    M0_UART_PIN=PE7,  M0_CS_PIN=PE7,
    M1_UART_PIN=PE15, M1_CS_PIN=PE15,
    M2_UART_PIN=PD10, M2_CS_PIN=PD10,
    M3_UART_PIN=PD7,  M3_CS_PIN=PD7,
    M4_UART_PIN=PC14, M4_CS_PIN=PC14,
    M5_UART_PIN=PC15, M5_CS_PIN=PC15,
    M6_UART_PIN=PA15, M6_CS_PIN=PA15,
    M7_UART_PIN=PD11, M7_CS_PIN=PD11,
    TMC_SCLK_PIN=PE12,
    TMC_MOSI_PIN=PE14,
    TMC_MISO_PIN=PE13,
    # Endstops
    X_MIN_ENDSTOP_PIN=PB14,
    Y_MIN_ENDSTOP_PIN=PB13,
    Z_MIN_ENDSTOP_PIN=PA0,    # Also BLTouch endstop pin
    X_MAX_ENDSTOP_PIN=PA1,
    Y_MAX_ENDSTOP_PIN=PA2,    # Also BLTouch servo pin
    Z_MAX_ENDSTOP_PIN=PA3,    # Also inductance probe
    # SPI1 header (in parallel with SDCard socket)
    SPI1_CS=PA4, SPI1_SCK=PA5, SPI1_MOSI=PA7, SPI1_MISO=PA6, SPI1_CD=PB10,
    # I2C1 header
    I2C1_CLK=PB11, I2C1_DATA=PD3,
    # EXP1 header
    EXP1_1=<5V>, EXP1_2=<GND>,
    EXP1_3=PD1,  EXP1_4=PD0,
    EXP1_5=PC12, EXP1_6=PC10,
    EXP1_7=PD2,  EXP1_8=PC11,
    EXP1_9=PA8,  EXP1_10=PC9,
    # EXP2 header
    EXP2_1=<5V>,  EXP2_2=<GND>,
    EXP2_3=<RST>, EXP2_4=PA10,
    EXP2_5=PA7,   EXP2_6=PC7,
    EXP2_7=PA4,   EXP2_8=PC6,
    EXP2_9=PA5,   EXP2_10=PA6

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh Trender3]
#*# version = 1
#*# points =
#*# 	0.026250, 0.008750, 0.013750, 0.023750, 0.033750
#*# 	0.002500, -0.005000, -0.001250, 0.003750, 0.027500
#*# 	0.015000, 0.010000, -0.001250, 0.012500, 0.036250
#*# 	0.018750, 0.026250, 0.026250, 0.032500, 0.058750
#*# 	0.090000, 0.093750, 0.101250, 0.120000, 0.141250
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 36.0
#*# max_x = 134.0
#*# min_y = 15.0
#*# max_y = 165.0
#*#
#*# [probe_eddy_current fly_eddy_probe]
#*# reg_drive_current = 13
#*# calibrate =
#*# 	0.050000:4563953.314,0.090000:4561106.332,0.130000:4557985.742,
#*# 	0.170000:4555276.997,0.210000:4552650.988,0.250000:4549823.690,
#*# 	0.290000:4547225.870,0.330000:4544697.247,0.370000:4542128.995,
#*# 	0.410000:4539562.073,0.450000:4537084.255,0.490000:4534768.537,
#*# 	0.530000:4532433.819,0.570000:4530114.729,0.610000:4527865.689,
#*# 	0.650000:4525705.688,0.690000:4523488.555,0.730000:4521334.112,
#*# 	0.770000:4519258.991,0.810000:4517202.116,0.850000:4515259.687,
#*# 	0.890000:4513285.991,0.930000:4511420.734,0.970000:4509466.894,
#*# 	1.010000:4507589.187,1.050000:4505773.880,1.090000:4503876.494,
#*# 	1.130000:4502201.576,1.170000:4500497.840,1.210000:4498813.480,
#*# 	1.250000:4497062.020,1.290000:4495376.967,1.330000:4493790.004,
#*# 	1.370000:4492205.653,1.410000:4490666.177,1.450000:4489097.893,
#*# 	1.490000:4487536.207,1.530000:4486021.463,1.570000:4484513.030,
#*# 	1.610000:4483076.517,1.650000:4481578.037,1.690000:4480072.089,
#*# 	1.730000:4478641.361,1.770000:4477236.059,1.810000:4475835.998,
#*# 	1.850000:4474472.873,1.890000:4473123.111,1.930000:4471760.765,
#*# 	1.970000:4470410.474,2.010000:4469069.168,2.050000:4467754.055,
#*# 	2.090000:4466452.598,2.130000:4465193.588,2.170000:4463922.136,
#*# 	2.210000:4462689.236,2.250000:4461461.253,2.290000:4460253.231,
#*# 	2.330000:4459036.380,2.370000:4457865.599,2.410000:4456681.553,
#*# 	2.450000:4455497.421,2.490000:4454336.639,2.530000:4453201.424,
#*# 	2.570000:4451926.295,2.610000:4450796.630,2.650000:4449724.235,
#*# 	2.690000:4448649.611,2.730000:4447611.649,2.770000:4446549.244,
#*# 	2.810000:4445495.173,2.850000:4444462.240,2.890000:4443478.175,
#*# 	2.930000:4442510.225,2.970000:4441516.694,3.010000:4440605.510,
#*# 	3.050000:4439619.146,3.090000:4438670.143,3.130000:4437746.104,
#*# 	3.170000:4436867.554,3.210000:4435961.332,3.250000:4435085.665,
#*# 	3.290000:4434162.691,3.330000:4433351.468,3.370000:4432517.964,
#*# 	3.410000:4431679.480,3.450000:4430815.503,3.490000:4430006.947,
#*# 	3.530000:4429216.847,3.570000:4428402.778,3.610000:4427624.889,
#*# 	3.650000:4426855.855,3.690000:4426098.607,3.730000:4425322.931,
#*# 	3.770000:4424585.577,3.810000:4423867.617,3.850000:4423136.331,
#*# 	3.890000:4422434.542,3.930000:4421750.631,3.970000:4421055.436,
#*# 	4.010000:4420383.115,4.050000:4419718.556
#*# tap_threshold = 13047.978
#*#
#*# [temperature_probe fly_eddy_probe]
#*# calibration_temp = 37.395037
#*# drift_calibration =
#*# 	4506629.569850, 58.873334, -2.120790
#*# 	4481930.102359, 38.762202, -1.714898
#*# 	4462553.970155, 24.022818, -1.427491
#*# 	4447481.288846, -5.104987, -0.998188
#*# 	4434976.240400, -8.509523, -0.871332
#*# 	4425150.497435, -24.584745, -0.633330
#*# 	4417038.412411, -34.484199, -0.479316
#*# 	4410280.195613, -39.452837, -0.387599
#*# 	4404591.211388, -40.729985, -0.337480
#*# drift_calibration_min_temp = 27.131937037232653
